<div id="container">
    <div id="header">
        <div class="header_elem">
            <a routerLink="home">
                <img src="assets/catface.jpg" width="7%" style="margin-right: 20%">
            </a>
            <div class="headers"><span>C</span>ato<span>G</span>rapher<span>2.0</span></div>
            <a routerLink="register">
                <img src="assets/track.jpg" width="7%" style="margin-left: 15%">
            </a>
            <a routerLink="autorization">
                <img src="assets/heart.jpg" width="7%">
            </a>
            <img src="assets/ball.jpg" width="7%">
        </div>

    </div>

    <div id="menu">
        <h2>Меню</h2>
    </div>

    <div id="content">
        <router-outlet></router-outlet>
    </div>

    <div id="clear">

    </div>

</div>