{% extends 'CatoGrapher/base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
{# Display a form #}
<h1> Добавить фотографию </h1>
<h2>пользователь: {{user}}</h2>
<form enctype="multipart/form-data" novalidate="" action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  <br>
  {% buttons %}
  <button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} Submit
  </button>
  {% endbuttons %}
</form>
{% endblock %}