input.ng-valid {
    background-color: #81F7F3;
}

input.ng-invalid {
    background-color: #F78181;
}

form.register_form {
    width: 100%;
    height: 100%;
    font-size: 0;
}

div.img_cat {
    display: inline-block;
    left: 20%;
    width: 40%;
    height: 400px;
}

div.img_cat img {
    height: 100%;
}

div.block_register {
    display: inline-block;
    height: 400px;
    width: 20%;
}

div.input_block {
    width: 100%;
    height: 20%;
    position: relative;
}

div.input_block input {
    width: 50%;
    position: relative;
    font-size: 14px;
}